html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
.react-date-picker__wrapper {
    border: none !important;
}
.date-picker-style {
    height: 40px !important;
    padding: 5px;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 5px;
}
